@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">About the Company</h1>
    <div class="container">
        Clocksy:
        <p>This company provides a variety of watch collections!</p>
        <p>This website is a glimpse of what we sell.</p>
        <p>This company is Canada based comapany.</p>
       <p> We sell our brands all over the world.</p>
       <p>Here, we have different brands such as titan, rolex and many more..</p>
       <p>We are glad to that you come to our website...</p>
       <p>Watches are useful in our day to day life. And we have different varienties as well as different ranges of watches...</p>
    </div>

</div>
