@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Our Watch Collections!</h1>
    
    <p> <a class="btn btn-primary" asp-controller="Watches" asp-action="Index">Click Here!</a> To see our stylish Collection of Watch!</p>

</div>
